:root {
    --primary-light: hsl(193, 38%, 86%);
    --primary-medium:  hsl(150, 100%, 66%);

    --neutral-grayish: hsl(217, 19%, 38% );
    --neutral-dark: hsl(217, 19%, 24%);
    --neutral-medium: hsl(218, 23%, 16%)
}